@import url(components.css);

html {
  background: var(--background);
  color: var(--foreground);
}

header a,
nav a,
footer a {
  color: var(--foreground-primary);
}

ul:has(li>p+p) li,
ol:has(li>p+p) li {
  margin-top: 1em;
}

ul>li>p+p,
ol>li>p+p {
  margin-top: 0.5em;
}

.main-header {
  background: hsl(208, 30%, 12%);
  border-bottom: 1px solid var(--stroke);
  box-shadow: 0px 2px 4px 0px hsla(208, 50%, 5%, 0.25);
}

@media (max-width: 32rem) {
  .main-header>div>a {
    margin: auto;
  }

  .main-nav {
    justify-content: center;
  }
}

.main-nav,
.subnav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em 0.5em;
}

.main-header-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

.main-nav>a {
  text-decoration: none;
  border-radius: 0.25em;
  padding: 0.3em 0.75em;
  color: var(--foreground-primary);
}

.main-nav>a:hover {
  background: var(--container);
}

.main-nav a[aria-current="page"],
.subnav a[aria-current="page"] {
  text-decoration: none;
  color: var(--foreground);
}

.main-nav:has(a:hover) a:not(:hover),
.subnav:has(a:hover) a:not(:hover) {
  opacity: 0.7;
  filter: blur(1px);
}

.subnav-wrapper {
  background: var(--container-low);
}

.subnav {
  padding: 0 1rem;
  justify-content: flex-end;
  max-width: var(--viewport);
  margin: 0 auto;
}

.subnav a {
  padding: 0.25em 0.5em;
}

.subnav-tabs {
  margin: 0 -1rem;
  position: sticky;
  top: 0;
  background: var(--background);
  display: flex;
  border-bottom: 1px solid var(--stroke);
  box-shadow: 0px 4px 4px -3px hsla(208, 50%, 5%, 0.3);
  z-index: 99;
}

.subnav-tabs a {
  padding: 0.7em 1em;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  margin-bottom: -1px;
}

.subnav-tabs a:hover {
  background: var(--container);
}

.subnav-tabs a[aria-current="page"] {
  border-color: var(--accent);
}

.breadcrumb {
  border-bottom: 1px solid var(--stroke);
}

.breadcrumb-container {
  padding-block: 0.5em;
}

.breadcrumb ol {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.breadcrumb .icon {
  width: 1rem;
  height: 1rem;
}

.page-header {

  padding-block: 1rem;
  border-bottom: 1px solid var(--stroke);
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header-container>img {
  box-shadow: 0px 4px 10px 0px hsla(208, 50%, 5%, 0.5);
}

.page-header-meta>h1,
.page-header-meta>.subtitle {
  max-width: 40ch;
}

.page-header-meta>.subtitle {
  margin-top: 0.75em;
}

.header-actions {
  display: flex;
  gap: 1rem;
}

/* content */
main:not(.page-main) {
  padding-block-start: 0;
}

.stack>*+* {
  --_space: var(--spacer, 1em);
  margin-top: var(--_space);
}

.stack>*+*:is(div) {
  margin-top: 1.5em;
}

.stack>*+hr {
  margin: 2.5em 0;
}

.stack>details+details {
  margin-top: 0.65em;
}

.stack>hr+* {
  margin-top: 0;
}

main>article.stack>:is(h2, h3, h4, h5, h6, p, details, ul, ol, figure) {
  max-width: 67ch;
}

main>article#main-content {
  padding: 1rem 0;
}

.stack>*:not(hr)+:is(h2, h3, h4, h5, h6) {
  margin-top: 1.25em;
}


.list-nav {
  display: flex;
  flex-direction: column;
}

/* footer */
.main-footer {
  padding-block: 1rem;
  border-top: 1px solid var(--stroke);
}

.main-footer-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-footer nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.main-footer nav a {
  gap: 1em;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 0.25em 0.5em;
  text-decoration: none;
  border-radius: 0.25em;
}

.main-footer nav a:hover {
  background: var(--container);
}

.icon-github,
.main-footer a .icon {
  fill: currentColor;
}

.image-showcase {
  display: grid;
  gap: 1rem;
  justify-items: start;
  grid-template-rows: 1fr 175px;
}

.image-showcase-thumbnails {
  display: flex;
  gap: 0.5rem;
  align-items: stretch;
}

.image-showcase img {
  transition: 150ms ease-in-out all;
}

.image-showcase img:hover {
  opacity: 0.8;
}

.auto-grid {
  --_gap: var(--gap, 1rem);
  --_breakpoint: var(--breakpoint, 320px);
  display: grid;
  gap: var(--_gap);
  grid-template-columns: repeat(auto-fit, minmax(var(--_breakpoint), 1fr));
}

@media (max-width: 30rem) {
  .auto-grid {
    display: flex;
    flex-direction: column;
  }
}

.auto-flex {
  display: flex;
  align-items: center;
  gap: var(--flex-gap, 1em);
}

.card-content>*+* {
  margin-top: 0.75em;
}

.label {
  color: var(--foreground);
  text-decoration: none;
  outline: 1px solid var(--stroke);
  padding: 0.5em 0.7em;
  line-height: 1;
  font-size: var(--type--2);
  border-radius: 0.5em;
}

.label:hover {
  background: var(--container);
}

#socials:target {
  outline: 0.25em solid var(--accent);
}