*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Geist";
  src: url("/public/geist.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
}

html {
  font: 1.10rem / var(--steel-line-height) "Geist", system-ui,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  letter-spacing: -0.03em;
  scroll-behavior: smooth;
  text-size-adjust: none;
}

:focus {
  outline-offset: 2px;
  outline: 2px solid rgb(255, 255, 255);
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul,
ol {
  padding: 0 2rem;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  font-style: italic;
}

iframe {
  border: 0;
}

input,
button,
summary {
  font: inherit;
  background: none;
  border: none;
}

summary {
  cursor: default;
}

::selection {
  color: hsl(208, 50%, 18%);
  background: hsla(208, 80%, 78%, 0.75);
}

a {
  color: var(--primary);
  text-decoration: underline 1px;
  text-underline-offset: 0.15em;
  transition: 160ms all cubic-bezier(0.07, 0.2, 0.33, 0.84);
}

a:has(.icon),
h2:has(.icon),
h3:has(.icon) {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
}

a .icon {
  width: 1rem;
  height: 1rem;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 1.2em;
  color: var(--foreground-primary);
}

.anchor {
  visibility: hidden;
  font-weight: normal;
  opacity: 0;
}

h1:hover>.anchor,
h2:hover>.anchor,
h3:hover>.anchor {
  visibility: visible;
  opacity: 1;
}

.acs-skip {
  position: absolute;
  top: -100px;
  left: -100px;
  display: block;
  z-index: 100;
  color: white;
  zoom: 1.1;
  outline-color: red;
  background: black;
  transition: none;
}

.acs-skip:focus,
.acs-skip:focus-within {
  top: 0.25em;
  left: 0.25em;
}

.stack>*+* {
  --_space: var(--spacer, 0.75em);
  --_line-height: var(--line-height, var(--steel-line-height));
  margin-top: var(--_space);
  line-height: var(--_line-height);
}

main {
  hyphens: auto;
}

hr {
  border: none;
  border-top: var(--steel-default-border);
}

blockquote {
  padding: 0.5rem 1rem;
  background: var(--container);
  border-left: 0.25em solid var(--stroke);
}


table {
  font: inherit;
  border-collapse: collapse;
  width: 100%;
  min-width: 600px;
}

td,
th {
  border: var(--steel-default-border);
  text-align: left;
  padding: 0.35em;
}

.steel-table {
  overflow-x: auto;
}

figure figcaption {
  text-align: center;
  font-style: italic;
  font-size: 0.9em;
  margin: 0.5em 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}