:root {
  --max-viewport: 720px;
  --background: hsl(0, 0%, 6%);
  --container: hsla(0, 0%, 20%, 0.25);
  --container-state: hsla(0, 0%, 20%, 0.5);
  --stroke: hsl(0, 0%, 18%);
  --primary: #99CFFF;
  --accent: hsl(208, 56%, 67%);
  --accent-foreground: hsl(208, 44%, 21%);
  --foreground: hsl(255, 0%, 65%);
  --foreground-primary: hsl(255, 0%, 90%);

  --steel-line-height: 1.4rem;

  --steel-desktop-border: 1px solid var(--stroke);
  --steel-default-border: 1px solid var(--stroke);
  --steel-mobile-border: 1px solid var(--stroke);

  --steel-default-padding: 1.25rem;
  --steel-default-lineheight-padding: calc(2.25rem - var(--steel-line-height));
  color-scheme: dark;
}