<footer class="main-footer">
    <div class="main-footer-container container">
        <section>
            <p>&copy; 2022 - 2026 SurfScape</p>
            <p>Made in Portugal ❤</p>
            <a href="/privacy">Privacy Policy</a>
        </section>
        <nav id="socials">
            {% for item in meta.socials -%}
            <a href="{{item.url}}" rel="me">
                {% icon item.icon %}
                {{item.name}}</a>
            {%- endfor -%}
        </nav>
    </div>
</footer>