<footer id="app-footer">
    <nav></nav>
    <p>&copy; 2022 - 2025 <a href="/about/team">SurfScape Team</a> and <a href="https://github.com/surfscape/surfscape/graphs/contributors">contributors</a>.</p>
    <p>
        <a href="https://github.com/surfscape/surfscape">Source Code (GitHub)</a>
    </p>
    <p>Made in Portugal ❤</p>
</footer>