<head>
    {% if title %}
        {% set page_title = [title, " - ", meta.title] | join %}
    {% endif %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="CCBot" content="nofollow">
    <meta name="robots" content="noai, noimageai">
    <meta name="tdm-reservation" content="1">
    <title>{{page_title or meta.title}}</title>
    <meta name="description" content="{{ description or meta.description}}">
    <base href="{{page.url}}">
    <link rel="canonical" href="{{host}}">
    <link rel="shortcut icon" href="/static/favicon.svg" type="image/x-icon">
    <meta property="og:title" content="{{page_title or meta.title}}">
    <meta property="og:site_name" content="{{ meta.title }}"/>
    <meta property="og:url" content="{{host}}{{ page.url }}">
    <meta property="og:description" content="{{ description or meta.description}}">
    <meta property="og:locale" content="{{meta.lang}}">
    <meta property="article:author" content="{{ meta.webmaster.name }}"/>
    <meta name="generator" content="{{ eleventy.generator }}"/>
    {% css "base" %}
    {% include "styles/base.css" %}
    {% endcss %}
    {% css "app" %}
    {% include "styles/app.css" %}
    {% endcss %}
    <link rel="stylesheet" href="{% getBundleFileUrl "css", "app" %}">
    <style>
        {% getBundle "css", "base" %}
    </style>
</head>