---
import { Icon } from "astro-icon/components";
import MainRoutes from "@data/MainRoutes";
---

<header>
  <a href="/" class="header-brand"
    ><img
      src="/surfscape_dark.svg"
      alt="SurfScape blue petal logo"
      width="42"
    />SurfScape</a
  >
  <nav>
    {
      MainRoutes.map((item) => (
        <a href={item.location}>
          <Icon name={item.icon} /> {item.title}
        </a>
      ))
    }
  </nav>
  <input type="text" placeholder="Pesquisar" />
</header>

<style>
  header {
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(201, 201, 201);
    padding-inline-end: 1.25rem;
  }

  header a {
    color: rgb(37, 37, 37);
    text-decoration: none;
  }

  header .header-brand {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: -0.02rem;
    padding: var(--web-layout-gutter) 1.25rem;
    line-height: 1;
    border-right: 1px solid rgb(201, 201, 201);
  }
  nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-inline: var(--web-layout-gutter);
  }

  nav a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem;
    line-height: 1;
    color: rgb(87, 87, 87);
    border-radius: 8px;
    transition: background 100ms ease-in-out;
  }

  nav a:hover {
    color: #252525;
    background: rgba(0, 0, 0, 0.05);
  }

  input {
    border: 1px solid rgb(201, 201, 201);
    border-radius: 6px;
    height: max-content;
    margin-left: auto;
    padding: 0.25rem 0.5rem;
    color: rgb(102, 102, 102);
    font-size: 0.85em;
  }
</style>
