{%- macro card(stub = false, type = '', icon = '', title = '', url = '', list = false, description = '', labels = false, actions = false, title_image = {}) -%}
  <section class="card stack {% if type -%}card--{{type}}{%-endif-%}">
    {{ cardContent(icon = icon, title = title, list = list, description = description, labels = labels, actions = actions, title_image = title_image) }}
  </section>
{%- endmacro -%}

{%- macro linkCard(icon = '', title = '',  description = '', url = '', title_image = {}) -%}
  <a href="{{url}}" class="card">
    {% if title_image.src -%}
      <img src="{{ title_image.src }}" alt="{{ title_image.alt }}" eleventy:ignore/>
    {%- elif icon -%}
      {%- lucide icon -%}
    {%- endif -%}
    <section class="card-content stack">
      <h3>{{ title }}</h3>
      <p>{{ description }}</p>
    </section>
  </a>
{%- endmacro -%}

{%- macro cardContent(icon = '', title = '', list = false, description = '', labels = false, actions = false, title_image = {})-%}
  {%- if title_image.src -%}
    <img src="{{ title_image.src }}" alt="{{ title_image.alt }}" eleventy:ignore>
  {%- elif icon -%}
    {%- lucide icon -%}
  {%- endif -%}
  {%- if title_image or icon -%}
    <section class="card-content">
      <h3>
        {{ title }}</h3>
      {%- if list -%}
        <ul>
          {%- for item in list -%}
            <li>{{ item }}</li>
          {%- endfor -%}
        </ul>
      {%- else -%}
        <p>{{ description }}</p>
      {%- endif -%}
      {%- if labels -%}
        <div class="steel-flex">
          {%- for label in labels -%}
            <span class="steel__label">{{ label }}</span>
          {%- endfor -%}
        </div>
      {%- endif -%}
      {%- if actions %}
        <div class="card-actions">
          {%- for item in actions -%}
            <a class="button button--{{ item.type }}" href="{{ item.url }}">
              {{ item.label }}
            </a>
          {%- endfor -%}
        </div>
      {%- endif -%}
    </section>
  {%- else -%}
    <h3>
      {{ title }}</h3>
    {%- if list -%}
      <ul>
        {%- for item in list -%}
          <li>{{ item }}</li>
        {%- endfor -%}
      </ul>
    {%- else -%}
      <p>{{ description }}</p>
    {%- endif -%}
    {%- if labels -%}
      <div class="card-labels">
        {%- for label in labels -%}
          <span class="steel__label">{{ label }}</span>
        {%- endfor -%}
      </div>
    {%- endif -%}
    {%- if actions %}
      <div class="card-actions">
        {%- for item in actions -%}
          <a class="button button--{{ item.type }}" href="{{ item.url }}">
            {{ item.label }}
          </a>
        {%- endfor -%}
      </div>
    {%- endif -%}
  {%- endif -%}

{%- endmacro -%}