{% macro card(stub = false, type = '', icon = '', title = '', list = false, description = '', labels = false, actions = false, title_image = {}) %}
  {%- if stub != true -%}
    <section class="steel-card stack {% if type %}steel-card--{{type}}{%endif%}">
      <h3>
        {%- if title_image.src %}
          <img src="{{ title_image.src }}" alt="{{ title_image.alt }}">
        {%- endif -%}
        {{ title }}</h3>
      {%- if list -%}
        <ul>
          {%- for item in list -%}
            <li>{{ item }}</li>
          {%- endfor -%}
        </ul>
      {%- else -%}
        <p>{{ description }}</p>
      {%- endif -%}
      {%- if labels -%}
        <div class="steel-flex steel-card-label-group">
          {%- for label in labels -%}
            <span class="steel__label">{{ label }}</span>
          {%- endfor -%}
        </div>
      {%- endif -%}
      {%- if actions -%}
        <div class="steel-flex steel-card-button-group">
          {%- for item in actions -%}
            <a class="steel-button steel-button--{{ item.type }}" href="{{ item.url }}">
              {{ item.label }}
            </a>
          {%- endfor -%}
        </div>
      {%- endif -%}
    </section>
  {%- else -%}
    <section class="steel-card steel-card--stub stack">
      <h3>{{ title }}</h3>
      <div class="steel-flex">
        {%- for item in actions -%}
          <a href="{{ item.url }}">
            {{ item.label }}
          </a>
        {%- endfor -%}
      </div>
    </section>
  {% endif -%}
{% endmacro %}