{%- macro imageGallery(images = false) -%}
    <div class="image-gallery auto-grid">
        {%- if images.length > 0 -%}
                {%- for image in images -%}
                <figure class="image-gallery-figure">
                    <a href="{{ image.src }}" class="glightbox">
                        <img src="{{ image.src }}" alt="{{image.alt}}" width="400" />
                    </a>
                    <figcaption>{{image.label}}</figcaption>
                    </figure>
                {%- endfor -%}
        {%- endif -%}
    </div>
{%- endmacro -%}